/* sidebar */
.sidebar {
    height: 100vh;
    width: 30vh;
    background-color: green;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.img-title {
    filter: brightness(0) invert(1);
    width: 60px;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.titles {
    color: var(--grey-50, #FFF);
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    flex-direction: row;
    display: flex;
    margin-left: 40px;
}

.circle {
    width: 4px;
    height: 4px;
    background-color: #fff500;
    border-radius: 50%;
    margin: 6px 1px 0px 1px;
}

.nav-link.active {
    color: white;
}

.nav-link.active img {
    width: 20px;
}

.profile-upload {
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    position: relative;
    width: 85px;
    height: 95px;
    border: 2px solid white;
    border-radius: 35%;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

.overlay label {
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.profile-image:hover .overlay {
    opacity: 1;
}

/* Menghapus tampilan default tombol "Choose File" */
input[type="file"] {
    display: none;
}

/* Gaya khusus untuk label tombol unggah */
.label-upload {
    color: white;
    padding: 30px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
}

.subtitle {
    text-align: center;
    font-size: 4px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: -15px;
    color: #ffff;
}

.nav-item a {
    display: block;
    text-decoration: none;
    color: #98A2B3;
    padding: 10px 6px 10px 6px;
    border-radius: 6px;
  }
  
.nav-item a:hover {
    background-color: #05450c;
    color: #98A2B3;
}

.logout-button:hover {
    background-color: #05450c;
    color: #98A2B3;
    border-radius: 6px;
}

.active-page {
    background-color: #05450c;
    color: #98A2B3;
    border-radius: 6px;
}

/* topbar */
.notification-icon {
    float: right;
    font-size: 32px;   
}

/* dashboard */
.container-admin {
    position: relative;
    width: 100%;
}