body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

.main-content {
    padding-top: 80px;
}

.active-page a{
    color: #068113;
}

/* navbar */
.border-bottom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.title-container {
    display: flex;
    width: 100px;
    height: 75px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.titles {
    display: flex;
    flex-direction: row;
    gap: 1px;
    margin-bottom: -17px;
}

.circle {
    width: 4px;
    height: 4px;
    background-color: #fff500;
    border-radius: 50%; 
    margin-top: 6px;
}

.subtitle {
    text-align: center;
    font-size: 4px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}

.bg-secondary {
    background-color: white !important;
}

.img-title {
    width: 50px;
    height: 50px;
}

.user-login {
    margin-top: 7px;
    width: 20px;
    height: 20px;
}

nav{
    font-weight: 700;
}

.navigasi{
    color: #000; 
    font-size: 18px; 
    font-style: normal; 
    font-weight: 500; 
    line-height: normal;
    margin-top: 6px;
}

.navigasi:hover {
    color: #068113;
}


/* beranda */
.wrapper {
    width: 1100px;
    margin: auto;
    position: relative;
}

.container-beranda-1 {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    margin-top: 50px;
}

.container-beranda-2 {
    margin-top: 50px;
    display: flex;
    width: 1100px;
    height: 310px;
    padding: 30px 0px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    border-radius: 60px;
    background: #D4DBEA;
}

.kolom-1 {
    margin-left: 30px;
}

.kolom-2 {
    margin-top: 160px;
}

.kolom-4 {
    margin-top: 250px;
}

.btn-beranda-1 {
    background: #068113;
    border-radius: 10px;
    margin-left: 180px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}


.btn-beranda-1:hover {
    background: #fff;
    color: #068113;
    border: 2px solid #068113;
}

.btn-beranda-2 {
    background: #068113;
    border-radius: 10px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
}

.btn-beranda-2:hover {
    background: #fff;
    color: #068113;
    border: 2px solid #068113;
}

/*tentang*/
.container-tentang {
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding: 60px;
}

.image {
    flex: 1; 
    padding-right: 20px;
}

.image img {
    height: auto;
    width: 400px; 
    margin-top: -30px;

}

.text {
    flex: 2;
}
.text h2 {
    color: #000;
    font-family: Raleway;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
    margin-top: 10px;
    margin-left: 10px;  

}

.text p {
    color: #000;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; 
    }

    .image, .text {
        padding: 0; 
        text-align: center; 
    }
}

/* faq */

.container-faq {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
}

.faq-container {
    display: flex;
    width: 1120px;
    height: 650px;
    padding: 30px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
}

.faq2-container {
    display: flex;
    width: 1120px;
    height: 250px;
    padding: 30px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
}

.faq3-container {
    display: flex;
    width: 1120px;
    height: 380px;
    padding: 30px 20px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-direction: column;
}

/* privacy & policy */
.container-privacy {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.container-policy {
    width: 80%;
}

/* footer */
.circle2 {
    width: 10px;
    height: 10px;
    background-color: #fff500;
    border-radius: 50%; 
    margin-top: 13px;
}

.subtitles {
    text-align: center;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
    margin-left: 110px;
}

.titles {
    display: flex;
    flex-direction: row;
}

.img-titles {
    width: 50px;
    height: 50px;
    background: white;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; 
}

a, a:hover {
      text-decoration: none !important; 
}
  
.content {
    height: 70vh; 
}
  
.footer-48201 {
    padding: 5rem 0;
    background-color: #068113;
    color: #fff; 
}

.footer-48201 .footer-site-logo {
    font-size: 1.5rem;
    color: #fff; 
}

.footer-48201 .nav-links li {
    margin-bottom: 10px; 
}

.footer-48201 .nav-links li a {
    color: #fff; 
}

.footer-48201 .nav-links li a:hover {
    color: #fff500;
    font-weight: 700; 
}

/*layanan*/
.container-layanan {
    padding-top: 40px;
}
.container-layanan h1 {
    color: #000;
    text-align: center;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: -40px;
}

.horizontal-line {
    border-top: 1.5px solid #299935;
    margin: 0 auto;
    margin-top: 20px;
    width: 10%;
}

.card {
    width: 240px;
    height: 350px;
    background-color: #fff;
    border-radius: 15px;
    border: 2px solid #00cc00;
    margin: 30px;
    padding: 20px;
    text-align: center;
    left: 115px;
    top: 4%;
    left: 120px;
    top: 40px;
    left: 160px;
    overflow: hidden;
}
.card img {
    width: 60px;
    margin: 0 auto;
}
.card h2 {
    color: #000;
    font-family: Raleway;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}
.card p {
    color: #000;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}
.card ul {
    padding: 2;
}
.card li {
    color: #000;
    font-family: Raleway;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 15px;
}
.card h3 {
    color: #000;
    font-family: Raleway;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5px;
}

/*syarat&ketentuan*/
.container-syarat h1 {
    color: #000;
    font-family: 'Poppins';
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.number-list {
    list-style-type: decimal;
}
.span{
    font-weight: bold;
}

