.bg-secondary {
    background-color: white !important;
}

.img-title {
    width: 70px;
    height: 70px;
}

nav{
    font-weight: 700;
}

.img-card{
    height: 18vw;
    object-fit: cover;
} 

.caption {
    position: absolute;
	left:140px;
	top: 200px;

	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
}